<a href="https://colab.research.google.com/github/realyou0312/DataAnalysis/blob/main/OpenDartReader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install OpenDartReader

Collecting OpenDartReader
  Downloading https://files.pythonhosted.org/packages/f6/e7/94af98ad3b41cf73410433b78ffd942ff0f6cf5380972f0dea5fd083ed23/OpenDartReader-0.1.1-py3-none-any.whl
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (1.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (4.2.6)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (2.23.0)
Collecting requests-file
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (1.24.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from requests-file->OpenDartReader) (1.15.0)
Installing collected packages: requests-file, OpenDartReader
Successfully installed OpenDartReader-0.1.1 requests-file-1.5.1

In [2]:
	
import OpenDartReader
import pandas as pd
api_key = '50acd12a10b7efc93f2f63512b7022fed783917e'
dart = OpenDartReader(api_key)

In [4]:
# 삼성전자의 2019년 배당관련 사항 조회
dart.report(corp='005930', key_word='배당', bsns_year=2019)

          rcept_no corp_cls corp_code  ...      frmtrm        lwfr stock_knd
0   20200330003851        Y  00126380  ...         100         100       NaN
1   20200330003851        Y  00126380  ...  43,890,877  41,344,569       NaN
2   20200330003851        Y  00126380  ...  32,815,127  28,800,837       NaN
3   20200330003851        Y  00126380  ...       6,461       5,997       NaN
4   20200330003851        Y  00126380  ...   9,619,243   5,826,302       NaN
5   20200330003851        Y  00126380  ...           -           -       NaN
6   20200330003851        Y  00126380  ...       21.90       14.10       NaN
7   20200330003851        Y  00126380  ...        3.70        1.70       보통주
8   20200330003851        Y  00126380  ...        4.50        2.10       우선주
9   20200330003851        Y  00126380  ...           -           -       보통주
10  20200330003851        Y  00126380  ...           -           -       우선주
11  20200330003851        Y  00126380  ...       1,416         850       보통주
12  20200330003851        Y  00126380  ...       1,417         851       우선주
13  20200330003851        Y  00126380  ...           -           -       보통주
14  20200330003851        Y  00126380  ...           -           -       우선주

[15 rows x 9 columns]

In [5]:
dv = dart.report(corp='005930', key_word='배당', bsns_year=2019)

dv_dps   = dv[dv['se'] == '주당 현금배당금(원)']
dv_eps   = dv[dv['se'].str.contains('주당순이익')]
dv_yield = dv[dv['se'].str.contains('현금배당수익률')]
dv_TD    = dv[dv['se'].str.contains('현금배당금총액')]

EPS = int(dv_eps[['thstrm']].iloc[0,0].replace(',','').strip()) # 주당순이익
DPS = int(dv_dps[['thstrm']].iloc[0,0].replace(',', '').strip()) # 주당 배당금
Yield = float(dv_yield[['thstrm']].iloc[0,0].replace(',','').strip())
TD = int(dv_TD[['thstrm']].iloc[0,0].replace(',', '').strip()) * 1000000 # 배당금총액. 백만원단위

In [8]:
pd.DataFrame({'종목코드':['005930'], '종목명':['삼성전자'], 'EPS':[EPS], 'DPS':[DPS], '배당수익률':[Yield], '배당금총액':[TD]})

     종목코드   종목명   EPS   DPS  배당수익률          배당금총액
0  005930  삼성전자  3166  1416    2.6  9619243000000

In [3]:
fs_2019 = dart.finstate_all(corp='005930', bsns_year='2019', fs_div='CFS', reprt_code=11011) 
fs_2020_3Q = dart.finstate_all(corp='005930', bsns_year='2020', fs_div='CFS', reprt_code=11014)